<div class="container-fluid group-page">
  <div class="row pt-5 align-items-center justify-content-center">
    <div class="col-md-6 col-lg-12 mt-5">
      <h1 class="display-3 text-white text-center">Выберите Группу</h1>
    </div>
    <div class="col-md-6  mt-5 text-center">
      <ttp-selector [items]="availableGroups" (valueChange)="groupChange($event)"></ttp-selector>
      <button type="button" class="btn btn-primary btn-block mt-4" (click)="navigateToGroupPage()"
              [disabled]="isDisableButton">Перейти к расписанию
      </button>
    </div>
  </div>
</div>
