<div class="ttp-timetable-parsing">
  <div class="ttp-timetable-parsing__course-container animated fadeInRight">
    <ttp-group-button [items]="courses" (buttonClickChange)="chooseCourse($event)"></ttp-group-button>
  </div>
  <div class="ttp-timetable-parsing__course-container animated fadeInRight" *ngIf="groups">
    <ttp-group-button [items]="groups"></ttp-group-button>
  </div>
  <div class="ttp-timetable-parsing__timetable-container animated fadeInRight">
    <ttp-banner></ttp-banner>
  </div>
</div>