<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-12 mt-3">-->
<!--      <tabset type="pills" [justified]="true">-->
<!--        <ng-container *ngFor="let uiTimesheet of uiTimesheets">-->
<!--          <tab [heading]="'Курс' + uiTimesheet.course" class="mt-3">-->
<!--            <tabset type="pills" [justified]="true">-->
<!--              <ng-container *ngFor="let uiGroup of uiTimesheet.uiGroups">-->
<!--                <tab [heading]="'Группа' + uiGroup.name" class="mt-3">-->
<!--                  <ttp-table [weekdays]="weekday"-->
<!--                             [uiGroup]="uiGroup"-->
<!--                             [times]="times"></ttp-table>-->
<!--                </tab>-->
<!--              </ng-container>-->
<!--            </tabset>-->
<!--          </tab>-->
<!--        </ng-container>-->
<!--      </tabset>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<ttp-group-button [items]="groupsButtons"></ttp-group-button>

<button class="btn btn-block btn-outline-danger" (click)="click()">Click me</button>
<!--<div class="mr-4 mt-4">-->
<!--  <ttp-dropdown [class.ml-4]="true" [class.mt-3]="true" [items]="dropdown"></ttp-dropdown>-->
<!--</div>-->

