.ttp-header {
  padding: 1rem;
  background-color: #23252e;
  display: flex;
  justify-content: space-between;

  &__label {
    font-size: 1.3rem;
  }

  &__button-container {
    flex: 0 0 30%;
    display: flex;
    justify-content: flex-end;

    &-item {
      margin-right: 1rem;
    }
  }
}

.ttp-term-popup {
  & .ttp-shared-popup__container {
    top: 7rem;
    min-height: 14rem !important;
    width: 20rem !important;
    padding: 2.3rem !important;
    border-radius: 1rem;
  }
}
