<div class="container-fluid img-fluid welcome-page">
  <div class="row pt-5">
    <div class="col-6">
      <div class="welcome-page-container">
        <ttp-shared-card [iconName]="'desktop-download'"
                         [headerText]="'Загрузить расписание'"
                         [description]="'Выберите нужный файл и сделайте ваше расписание общедоступным'"
                         [buttonName]="'Перейти к загрузке'"
                         (navigateChange)="navigateToAdminParsing()">
        </ttp-shared-card>
      </div>
    </div>
    <div class="col-6">
      <div class="welcome-page-container">
        <ttp-shared-card [iconName]="'calendar'"
                         [headerText]="'Текущее расписание'"
                         [description]="'Посмотрите текущее расписание для всех'"
                         [buttonName]="'Перейти к просмотру'"
                         (navigateChange)="navigateToTimetable()">
        </ttp-shared-card>
      </div>
    </div>
  </div>
</div>
