<div class="ttp-welcome-page-container">
  <div class="ttp-welcome-page-container__item">
    <div class="ttp-welcome-page-container__alert">
      <div class="ttp-welcome-page-container__alert-icon">
          <ttp-icon iconName="info"
                    customFill="black"
                    customClass="info">      
          </ttp-icon>
      </div>
      <div class="ttp-welcome-page-container__alert-text">
        <h4>Мы отображаем ваш последний визит</h4>
        <p>Ваши последние действия были произведенны 24.03.2020 в 18:37:03</p>
      </div>
    </div>
  </div>
  <div class="ttp-welcome-page-container__item">
    <div class="ttp-welcome-page-container__parsing">

    </div>
  </div>
  <div class="ttp-welcome-page-container__item">
    <div class="ttp-welcome-page-container__schedule">

    </div>
  </div>
</div>
