<ng-container *ngIf="screenMode.largeMode">
  <table class="table table-hover table-dark ttp-legends table-borderless">
    <thead>
    <tr>
      <th scope="col" colspan="2" class="text-center">Легенда</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let lessonType of lessonTypes">
      <tr>
        <th class="text-lg-center">{{lessonType}}</th>
        <td class="text-center">
          <div class="ttp-legends-container" [ngClass]="'bg-' + getClassForLessonType(lessonType)"></div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</ng-container>


<ng-container *ngIf="screenMode.tabletMode || screenMode.mediumMode">
  <div class="container-fluid mb-3">
    <div class="row">
      <ng-container *ngFor="let lessonType of lessonTypes">
        <div class="col-2">
          <div class="d-flex flex-column ttp-legends p-2">
            <div class="text-center w-100 position-relative">
              <h5>{{lessonType}}</h5>
            </div>
            <div class="justify-content-center w-100">
              <div class="ttp-legends-item" [ngClass]="'bg-'+getClassForLessonType(lessonType)"></div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
