<div class="group-page">
  <div class="group-page-container">
    <div class="group-page-container-text">
      <h1>Выберите номер группы:</h1>
    </div>
    <div class="group-page-container-buttons">
      <ttp-selector [items]="availableGroups" (valueChange)="groupChange($event)"></ttp-selector>
      <button type="button" class="btn btn-primary btn-block mt-4" (click)="navigateToGroupPage()"
              [disabled]="isDisableButton">Перейти к расписанию
      </button>
    </div>
  </div>
</div>
