.course-details {

  &-group {

    &_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

      &__weekday {


        &__subjects {
            padding: 5px;
        }
      }
    }

  }
}
