.course-details {

  grid-template-areas: "symbols days" "time blocks";
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 10% 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 0;

  &__symbol {
    padding: 1.2em;
    grid-area: symbols;
  }

  &__days {
    padding: 1.2em;
    grid-area: days;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);

    &__item {
      border: 1px solid whitesmoke;
      background-color: #383F3E;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__display-text {
        font-size: 2rem;
        color: honeydew;
      }
    }
  }

  &__time {
    padding: 1.2em;
    grid-area: time;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);

    &__item {
      //border: 1px solid #24222B;
      display: flex;
      align-items: center;
      justify-content: center;


      &__display-text {
        font-size: 3.5rem;
      }
    }
  }

  &__blocks {
    padding: 1.2em;
    grid-area: blocks;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;

    &__block {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, 1fr);
      grid-gap: 10px;
    }

  }
}
