<div class="container-fluid img-fluid welcome-page" >
    <div class="row pt-5">
      <div class="col-md-6 col-lg-12 mt-5">
        <div class="welcome-page__text-container text-center">
          <h1 class="display-2 text-white ml-4">Добро пожаловать!</h1>
          <p class="text-white ml-4 ttp-text-medium">Здесь вы сможете быстро и легко получить доступ к своему расписанию</p>
          <button class="btn btn-outline-primary" (click)="navigateToCoursePage()">Перейти к расписанию</button>
        </div>
      </div>
    </div>
</div>
