<div class="welcome-page">
  <div class="welcome-page-container animated zoomIn">
    <div class="card bg-dark mb-3 welcome-page-container-card">
      <div class="card-body ttp-mobile-timetable-card-body">
        <div class="welcome-page-container-text">
          <h1 class="display-3 text-white ml-4">Добро пожаловать!</h1>
          <h4 class="text-white ml-4">Здесь вы сможете быстро и легко получить доступ к своему расписанию</h4>
        </div>
        <div class="welcome-page-container-buttons">
          <button class="btn btn-danger btn-lg btn-block" (click)="navigateToCoursePage()">Перейти к расписанию</button>
        </div>
      </div>
    </div>
  </div>
</div>
