<div class="ttp-header">
  <label class="ttp-header__label">Расписание</label>
  <div class="ttp-header__button-container">
    <button
      class="ttp-header__button-container-item btn btn-outline-danger"
      *ngIf="visibleAddTimetableButton"
    >
      Создать новое расписание
    </button>
    <button
      class="ttp-header__button-container-item btn btn-outline-danger"
      *ngIf="visibleEditTimetableButton"
      (click)="turnOnorOffEditMode()"
    >
      {{
        editModeDisabled ? "Изменить расписание" : "Закончить редактирование"
      }}
    </button>
    <button class="ttp-header__button-container-item btn btn-outline-danger">
      Выйти
    </button>
  </div>
</div>
