<div class="ttp-header">
  <label class="ttp-header__label">Расписание</label>
  <div class="ttp-header__button-container">
    <button
      class="ttp-header__button-container-item btn btn-outline-danger"
      *ngIf="visibleCreateTimetableButton"
      (click)="showAddingTimetablePopup()"
    >
      Создать новое расписание
    </button>

    <button
      class="ttp-header__button-container-item btn btn-outline-danger"
      *ngIf="visibleEditTimetableButton && !editModeEnabled"
      (click)="turnOnEditMode()"
    >
      {{ "Изменить расписание" }}
    </button>

    <button
      class="ttp-header__button-container-item btn btn-outline-danger"
      *ngIf="visibleEditTimetableButton && editModeEnabled"
      (click)="turnOffEditMode()"
    >
      {{ "Закончить редактирование" }}
    </button>

    <button
      class="ttp-header__button-container-item btn btn-outline-danger"
      *ngIf="visibleAllUploadedFiles"
      (click)="showAllUploadedFiles()"
    >
      Загруженные файлы
    </button>

    <ttp-shared-dropdown
      class="ttp-header__button-container-item"
      [items]="links"
    >
    </ttp-shared-dropdown>

    <button class="ttp-header__button-container-item btn btn-outline-danger">
      Выйти
    </button>
  </div>
</div>

<ttp-shared-popup
  *ngIf="visibleAddTimetablePopup"
  class="ttp-term-popup"
  [visiblePopup]="visibleAddTimetablePopup"
  header="Введите год действия расписания"
>
  <!-- todo: add validators and save model -->
  <div class="ttp-shared-popup__form">
    <div class="ttp-shared-popup__form-item">
      <label class="ttp-shared-popup__form-label">C</label>
      <input class="form-control ttp-shared-popup__form-input" />
    </div>
    <div class="ttp-shared-popup__form-item">
      <label class="ttp-shared-popup__form-label">По</label>
      <input class="form-control ttp-shared-popup__form-input" />
    </div>
    <div class="ttp-shared-popup__form-buttons">
      <div
        class="btn btn-danger ttp-shared-popup__form-buttons-item"
        (click)="goToTimetableDetails()"
      >
        Создать расписание
      </div>
    </div>
  </div>
</ttp-shared-popup>
