<div class="ttp-header">
  <label class="ttp-header__label">Расписание</label>
  <div class="ttp-header__button-container">
    <button
      class="ttp-header__button-container-item btn btn-outline-danger"
      *ngIf="visibleCreateTimetableButton"
    >
      Создать новое расписание
    </button>
    <button
      class="ttp-header__button-container-item btn btn-outline-danger"
      *ngIf="visibleEditTimetableButton"
      (click)="turnOnorOffEditMode()"
    >
      {{
        editModeDisabled ? "Закончить редактирование" : "Изменить расписание"
      }}
    </button>

    <button
      class="ttp-header__button-container-item btn btn-outline-danger"
      *ngIf="visibleAllUploadedFiles"
      (click)="showAllUploadedFiles()"
    >
      Загруженные файлы
    </button>

    <ttp-shared-dropdown
      class="ttp-header__button-container-item"
      [items]="links"
    >
    </ttp-shared-dropdown>

    <button class="ttp-header__button-container-item btn btn-outline-danger">
      Выйти
    </button>
  </div>
</div>
