.header {
  width: 100%;
  background: grey;
  overflow: hidden;

  &-container {
    padding: 10px 10px 10px 10px;

    &-content {
      display: flex;

      &-logo {
        flex: 25%;
      }

      &-controllers {
        flex: 75%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
