.ttp-shared-card {
  padding: 20px;
  border-radius: 10px;
  width: 175px;
  height: 175px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__header {

  }

  &__content {
    margin: 0;

    &_text {

    }
  }

  &__footer {
    
  }
}
