<div class="course-details__item__item" #item>
  <p>{{subject.name}}
  <p></p><br>
  <ng-container *ngIf="subject.classrooms">
    <ng-container *ngFor="let class of subject.classrooms"><p>{{class}}</p></ng-container>
    <br>
  </ng-container>
  <ng-container *ngFor="let teacher of subject.teachers"><p><strong>{{teacher}}</strong></p>
  </ng-container>
  <p><em>{{getLessonType(subject.classLessonType)}}</em>
    <ttp-icon [iconName]="getClassIconForLessonType(subject.classLessonType)"></ttp-icon>
</div>
