<div class="btn-group" dropdown>
  <button id="button-animated " dropdownToggle type="button"
          class="btn dropdown-toggle ttp-dropdown-container"
          aria-controls="dropdown-animated"
          [ngClass]="'btn-' + backgroundColor">
    {{selectedItem.label}} <span class="caret"></span>
  </button>
  <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu ttp-dropdown-container-list"
      role="menu" aria-labelledby="button-animated">
    <ng-container *ngFor="let item of items">
      <li role="menuitem"><span class="dropdown-item" (click)="chooseItem(item)">{{item.label}}</span></li>
    </ng-container>
  </ul>
</div>
