<div
  class="ttp-banner-container"
  [class.full-width]="!visibleTemplate"
  [class.transparent]="visibleWarningMessage || !visibleTemplate"
>
  <ng-container
    *ngTemplateOutlet="
      template && visibleTemplate
        ? template
        : !visibleWarningMessage
        ? defaultTemplate
        : ''
    "
  ></ng-container>

  <ng-container *ngTemplateOutlet="visibleWarningMessage ? warningBanner : ''">
  </ng-container>

  <ng-template #defaultTemplate>
    <div class="ttp-banner-container-title">
      Выберите курс и группу, чтобы посмотреть расписание
    </div>
    <ttp-icon
      iconName="issue-opened"
      customClass="ttp-banner-container-icon"
    ></ttp-icon>
  </ng-template>

  <ng-template #warningBanner>
    <div class="ttp-banner-container-title">
      Произошла ошибка во время загрузки расписания
    </div>
    <ttp-icon
      iconName="alert"
      customFill="orange"
      customClass="ttp-banner-container-icon"
    ></ttp-icon>
  </ng-template>
</div>
