<ng-container *ngIf="visiblePopup">
  <div
    class="ttp-shared-popup"
    [ngClass]="{
      right: position === 'right',
      center: position === 'center',
      left: position === 'left'
    }"
  >
    <div
      class="ttp-shared-popup__container animated fadeInRight"
      [ngClass]="{
        right: position === 'right',
        center: position === 'center',
        left: position === 'left'
      }"
    >
      <div
        class="ttp-shared-popup__circle"
        *ngIf="visibleCloseButton"
        (click)="closePopup()"
      >
        <ttp-icon iconName="x" customClass="ttp-shared-popup__close"></ttp-icon>
      </div>

      <div class="ttp-shared-popup__header" *ngIf="header">{{ header }}</div>
      <div class="ttp-shared-popup__description" *ngIf="description">
        {{ description }}
      </div>
      <ng-content></ng-content>
    </div>
  </div>

  <div class="ttp-shared-popup__overlay" (click)="closePopup()"></div>
</ng-container>
