<ng-container *ngIf="visiblePopup">
  <div
    class="ttp-shared-popup"
    [ngClass]="{
      right: position === 'right',
      center: position === 'center',
      left: position === 'left'
    }"
  >
    <div
      class="ttp-shared-popup__container animated fadeInRight"
      [ngClass]="{
        right: position === 'right',
        center: position === 'center',
        left: position === 'left'
      }"
    >
      <ng-container
        *ngTemplateOutlet="useCustomTemplate ? customTemplate : defaultTemplate"
      ></ng-container>

      <ng-template #defaultTemplate>
        <div class="ttp-shared-popup__header"></div>
        <div class="ttp-shared-popup__body"></div>
      </ng-template>
    </div>
  </div>
</ng-container>
