<div class="ttp-login-container">
  <div class="ttp-login-container-form">
    <form [formGroup]="fromGroup" (ngSubmit)="submitForm()">
      <label for="form-login-login">Имя пользователя:</label>
      <input class="ttp-login-container-form-login" id="form-login-login">
      <label for="form-login-password">Пароль</label>
      <input class="ttp-login-container-form-password" id="form-login-password">
    </form>
  </div>
  <div class="ttp-login-container-submit">
    <button type="submit" (click)="submitForm()">Войти</button>
  </div>
</div>
