
.timetable {

  background-image: url("../../../../assets/images/jeff-sheldon-JWiMShWiF14-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  /* Font Colour */
  color: white;
  height: 100vh;

  &_table {
    border-radius: 20px;

  }

  &__subjects {
    height: 100px;

    &__item {
      font-size: 17px;
      font-weight: bold;
    }
  }
}
