<ng-container *ngIf="uiGroup">
  <div class="timetable">
    <div class="container-fluid">
      <div class="row pt-5 animated slideInRight">
        <ng-container *ngIf="screenMode.largeMode; then largeMode">
        </ng-container>
        <ng-container *ngIf="screenMode.mediumMode; then mediumMode "></ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #largeMode>
  <div class="col-9">
    <ttp-table [times]="times"
               [weekdays]="weekdays"
               [uiGroup]="uiGroup"
               [screenMode]="screenMode"
               (openSubjectDetailsChange)="openSubjectDetails($event)">
    </ttp-table>
  </div>
  <div class="col-3">
    <ttp-controllers [weekdays]="weekdays"
                     [times]="times"
                     [lessonTypes]="lessonTypes"
                     [screenMode]="screenMode">
    </ttp-controllers>

    <ttp-card [selectedSubject]="selectedSubject"
              [visibleCard]="visibleSubjectCardDetails"></ttp-card>
  </div>
</ng-template>

<ng-template #mediumMode>
  <div class="col-12">
    <ttp-controllers [weekdays]="weekdays"
                     [times]="times"
                     [lessonTypes]="lessonTypes"
                     [screenMode]="screenMode">
    </ttp-controllers>
  </div>
  <div class="col-12">
    <ttp-table [times]="times"
               [weekdays]="weekdays"
               [uiGroup]="uiGroup"
               [screenMode]="screenMode"
               (openSubjectDetailsChange)="openSubjectDetails($event)">
    </ttp-table>
  </div>
</ng-template>

<ttp-popup *ngIf="visibleSubjectPopupDetails"
           [visiblePopup]="visibleSubjectPopupDetails"
           [popupDetails]="popupDetails"
           (closePopupChange)="closeSubjectDetailsPopup($event)"
></ttp-popup>
