<ng-container *ngIf="uiGroup">
  <div class="timetable">
    <div class="container">
      <div class="row pt-5">
        <div class="col animated slideInRight">
          <ng-container *ngIf="true then table"></ng-container>
        </div>
      </div>
    </div>
  </div>

</ng-container>


<ng-template #table>
  <table class="table table-hover table-dark timetable_table table-borderless">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" class="text-center" *ngFor="let weekday of weekdays">{{weekday}}</th>
    </tr>
    </thead>
    <tbody>
    <tr class="timetable__subjects" *ngFor="let time of times">
      <th>{{time}}</th>
      <ng-container *ngFor="let weekday of weekdays">
        <td class="text-capitalize timetable__subjects__item"
            (click)="openSubjectDetails(getSubjectByTime(time, uiGroup.sortedSubjects[weekday]))"
            [ngClass]="getClassForLessonType(getSubjectByTime(time, uiGroup.sortedSubjects[weekday]).classLessonType)"
            *ngIf="getSubjectByTime(time, uiGroup.sortedSubjects[weekday])">
          {{getSubjectByTime(time, uiGroup.sortedSubjects[weekday]).name}}
        </td>
        <td class="timetable__subjects__item text-warning"
            *ngIf="!getSubjectByTime(time, uiGroup.sortedSubjects[weekday])">
          [Пусто]
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</ng-template>


<ng-template #dayMode>
  <div class="container slideInUp animated">
    <div class="row mt-4">
      <ng-container *ngFor="let weekday of weekdays">
        <div class="col-lg-4 col-md-6 mb-2">
          <div class="card" style="height: 300px">
            <div class="card-header">
              {{weekday}}
            </div>
            <div class="card-body">
              <ng-container *ngFor="let time of times">
                <ng-container *ngIf="getSubjectByTime(time, uiGroup.sortedSubjects[weekday])">
                  <div (click)="openSubjectDetails(getSubjectByTime(time, uiGroup.sortedSubjects[weekday]))">
                    <p>{{getSubjectByTime(time, uiGroup.sortedSubjects[weekday]).name}}</p>
                  </div>
                </ng-container>
                <ng-container *ngIf="!getSubjectByTime(time, uiGroup.sortedSubjects[weekday])">
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<ttp-popup *ngIf="visibleSubjectPopupDetails"
           [visiblePopup]="visibleSubjectPopupDetails"
           [popupDetails]="popupDetails"
           (closePopupChange)="closeSubjectDetailsPopup($event)"
></ttp-popup>
