<ng-container *ngIf="uiGroup">
  <ng-container *ngIf="viewMode?.toLowerCase() === 'day'; then dayMode; else weekMode"></ng-container>
</ng-container>


<ng-template #weekMode>
  <div class="timetable animated slideInRight">
    <div class="timetable__container">
      <div class="timetable__container__week-names">
        <ng-container *ngFor="let weekday of weekdays">
          <div>{{weekday}}</div>
        </ng-container>
      </div>
      <div class="timetable__container__time-interval">
        <ng-container *ngFor="let time of times;">
          <ng-container *ngIf="times[times.indexOf(time) + 1]">
            <div>{{time}} - {{times[times.indexOf(time) + 1]}} </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="timetable__container__content">
        <ng-container *ngFor="let weekday of weekdays">
          <div class="timetable__container__content__day">
            <ng-container *ngFor="let time of times">
              <ng-container *ngIf="getSubjectByTime(time, uiGroup.sortedSubjects[weekday])">
                <div class="subject-name"
                     [ngClass]="getClassForLessonType(getSubjectByTime(time, uiGroup.sortedSubjects[weekday]).classLessonType)"
                     (click)="openSubjectDetails(getSubjectByTime(time, uiGroup.sortedSubjects[weekday]))">
                  <p>{{getSubjectByTime(time, uiGroup.sortedSubjects[weekday]).name}}</p>
                </div>
              </ng-container>
              <ng-container *ngIf="!getSubjectByTime(time, uiGroup.sortedSubjects[weekday])">
                <div></div>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #dayMode>
  <div class="container slideInUp animated">
    <div class="row mt-4">
      <div class="col-4-lg col-md-4 mb-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Название карточки</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
          </div>
        </div>
      </div>
      <div class="col-4-lg col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Название карточки</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
          </div>
        </div>
      </div>
      <div class="col-4-lg col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Название карточки</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
          </div>
        </div>
      </div>
      <div class="col-4-lg col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Название карточки</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
          </div>
        </div>
      </div>
      <div class="col-4-lg col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Название карточки</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
          </div>
        </div>
      </div>
      <div class="col-4-lg col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Название карточки</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ttp-popup *ngIf="visibleSubjectPopupDetails"
           [visiblePopup]="visibleSubjectPopupDetails"
           [popupDetails]="popupDetails"
           (closePopupChange)="closeSubjectDetailsPopup($event)"
></ttp-popup>
