.timetable {
  &__container {

    &__buttons {
      display: flex;
      padding: 10px 10px 10px 10px;
      margin-bottom: 20px;
      min-height: 80px;
      width: 400px;
      justify-content: center;

      &__item {
        width: 150px;
        height: 50px;
      }
    }
  }
}
