<div class="file-parsing">
  <ttp-shared-notification
    class="file-parsing__notification"
    [visible]="visibleNotification"
    text="Произошла ошибка во время загрузки  документа! Попробуйте позже"
    [animationType]="'fadeInDown'"
    (closeNotificationChange)="visibleNotification = false"
  >
  </ttp-shared-notification>
  <div class="file-parsing-container animated zoomIn">
    <div class="card bg-dark mb-3 admin-parsing-container-card">
      <div class="card-body">
        <div class="admin-parsing-container-text" *ngIf="!file">
          <h1 class="display-4 text-white text-center">
            Загрузите файл для расписания!
          </h1>
        </div>
        <div class="file-parsing-container-info animated fadeIn" *ngIf="file">
          <ttp-icon
            iconName="issue-closed"
            customFill="#0f804a"
            customClass="admin-parsing-container-info-icon"
          >
          </ttp-icon>
          <div class="file-parsing-container-info-text">
            Файл загружен, размер {{ fileSize }} kb
          </div>
        </div>
        <div class="file-parsing-container-buttons">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="inputGroupFile04"
              (select)="selectFile($event)"
              (change)="selectFile($event)"
            />
            <label class="custom-file-label" for="inputGroupFile04"
              >Выберите файл</label
            >
          </div>
          <button
            type="button"
            class="btn btn-danger btn-block mt-4"
            (click)="sendFile()"
            [disabled]="!file || showErrorUpload"
          >
            Загрузить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ttp-shared-popup></ttp-shared-popup>
