<div class="container-fluid course-page">
  <div class="row pt-5 align-items-center justify-content-center">
    <div class="col-md-6 col-lg-12 mt-5">
      <h1 class="display-3 text-white text-center">Выберите Курс обучения</h1>
    </div>
    <div class="col-md-6  mt-5 text-center">
      <ttp-selector [items]="availableCourse" (valueChange)="courseChange($event)"></ttp-selector>
      <button type="button" class="btn btn-primary btn-block mt-4" (click)="navigateToGroupPage()" [disabled]="isDisabledButton">Перейти к выбору группы</button>
    </div>
  </div>
</div>
