html, body {
  margin: 0;
  font-family: 'Karla';
  color: #ECEFF1;
}

* {
  box-sizing: border-box;
}

@white: #fff;
.gradient (@origin: left, @fallback: @white,  @stops) {
  background-color: @fallback;
  background: -webkit-linear-gradient(@origin, @stops) @fallback no-repeat;
  background: -moz-linear-gradient(@origin, @stops) @fallback no-repeat;
  background: -ms-linear-gradient(@origin, @stops) @fallback no-repeat;
  background: -o-linear-gradient(@origin, @stops) @fallback no-repeat;
  background: linear-gradient(@origin, @stops) @fallback no-repeat;
}

.timetable {

  &__container {
    display: grid;
    grid-template-areas: ". week" "time content";
    grid-template-columns: 120px;
    grid-template-rows: 60px;
    width: 100vw;
    height: 100vh;

    &__weekend {
      //background:
      //color: lighten($cutty-sark, 20%);
    }

    &__week-names {
      grid-area: week;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-transform: uppercase;
      font-size: 12px;

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-shadow: inset 1px 0 0 #ECEFF1;
      }
    }

    &__time-interval {
      grid-area: time;
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      font-size: 14px;

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 1px 0 0 #ECEFF1;
      }
    }

    &__content {
      grid-area: content;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(7, 1fr);
      box-shadow: inset 1px 0 0 #ECEFF1, inset 0 1px 0 0 #ECEFF1;

      &__day {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);

        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'Karla';
          font-size: 15px;
          box-shadow: inset 1px 0 0 #ECEFF1, inset 0 1px 0 0 #ECEFF1;
          //background-color: linear-gradient(90deg, #ED4264, #FFEDBC);
          transition: all 0.3s ease;

          &:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
          }
          //background: linear-gradient(135deg, #B489F0, #2D79E6);

          &.lecture {
            background: linear-gradient(135deg, #eec08e, #dcee8e);
          }

          &.seminar {
            background: linear-gradient(135deg, #8eeec0, #8edcee);
          }

          &.practice {
            background: linear-gradient(135deg, #B489F0, #2D79E6);
          }

          &.lab {
            background: linear-gradient(135deg, #ee8ebc, #eea08e);
          }
        }
      }
    }
  }
}
