<div class="ttp-timetable">
  <div
    class="ttp-timetable__course-container animated fadeInRight"
    *ngIf="courses"
  >
    <ttp-group-button
      [items]="courses"
      (buttonClickChange)="selectCourse($event)"
    ></ttp-group-button>
  </div>
  <div
    class="ttp-timetable__course-container animated fadeInRight"
    *ngIf="groups"
  >
    <ttp-group-button
      [items]="groups"
      (buttonClickChange)="selectGroup($event)"
    ></ttp-group-button>
  </div>
  <div
    class="ttp-timetable__timetable-container animated fadeInRight"
    *ngIf="courses"
  >
    <ttp-banner
      [template]="timetable"
      [visibleTemplate]="selectedUiGroup"
    ></ttp-banner>

    <ng-template #timetable>
      <ttp-table
        *ngIf="selectedUiGroup"
        [weekdays]="weekdays"
        [times]="times"
        [uiGroup]="selectedUiGroup"
      ></ttp-table>
    </ng-template>
  </div>

  <div
    class="ttp-timetable__timetable-container animated fadeInRight"
    *ngIf="visibleWarningMessage"
  >
    <ttp-banner [visibleWarningMessage]="true"></ttp-banner>
  </div>
</div>
