<ng-container *ngIf="uiGroup">
  <div class="timetable">
    <div class="timetable__container">
      <div class="timetable__container__week-names">
        <ng-container *ngFor="let weekday of weekdays">
          <div>{{weekday}}</div>
        </ng-container>
      </div>
      <div class="timetable__container__time-interval">
        <ng-container *ngFor="let time of times;">
          <ng-container *ngIf="times[times.indexOf(time) + 1]">
            <div>{{time}} - {{times[times.indexOf(time) + 1]}} </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="timetable__container__content">
        <ng-container *ngFor="let weekday of weekdays">
          <div class="timetable__container__content__day">
            <ng-container *ngFor="let time of times">
              <ng-container *ngIf="getSubjectByTime(time, uiGroup.sortedSubjects[weekday]);
                               then filledSubject; else emptySubject">
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</ng-container>


<ng-template #filledSubject>
  <div [ngClass]="getClassForLessonType(subject.classLessonType)">{{subject.name}}</div>
</ng-template>

<ng-template #emptySubject>
  <div></div>
</ng-template>
