<div class="timetable-page">
  <div class="container-fluid img-fluid timetable-page" >
    <div class="row pt-5">
      <div class="col-md-6 col-lg-12 mt-5">
        <h1 class="display-2 text-white text-center">Расписание!</h1>
        <p class="text-white text-center">Здесь вы сможете быстро и легко получить доступ к своему расписанию</p>
      </div>
      <!-- <div class="col-md-6 col-lg-12 mt-5 text-center">
        <button type="button" class="btn btn-primary" (click)="navigateToCoursePage()">Перейти к расписанию</button>
      </div> -->
    </div>
  </div>
</div>
